<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2005-2018 Dozer Project
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
         http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">

    <configuration>
        <variables>
            <variable name="abc">1</variable>
        </variables>
    </configuration>
    <mapping map-id="abutment" >
        <class-a>com.example.beandozerspringbootdemo.entity.SrcList</class-a>
        <class-b>com.example.beandozerspringbootdemo.entity.TarList</class-b>
        <field >
            <a>src</a>
            <b>tar</b>
        </field>

        <field>
            <a date-format="yyyy/MM/dd">inputDate</a>
            <b >inputDate</b>
        </field>
        <field map-id="ab">
            <a >deepSrcEntities</a>
            <b>deepTarEntities</b>
        </field>
        <field map-id="ab">
            <a >deepSrcEntities[0]</a>
            <b>deepTarEntity</b>
        </field>
    </mapping>

    <mapping map-id="abutment-1" >
        <class-a>com.example.beandozerspringbootdemo.entity.SrcList</class-a>
        <class-b>com.example.beandozerspringbootdemo.entity.TarList</class-b>
        <field>
            <a>src</a>
            <b>tar</b>
        </field>

        <field>
            <a date-format="yyyy-MM-dd">inputDate</a>
            <b date-format="yyyy-MM-dd">inputDate</b>
        </field>
        <field map-id="ab">
            <a >deepSrcEntities</a>
            <b>deepTarEntities</b>
        </field>
        <field map-id="ab">
            <a >deepSrcEntities[0]</a>
            <b>deepTarEntity</b>
        </field>
    </mapping>

    <mapping map-id="list" wildcard="false">
        <class-a >java.util.ArrayList</class-a>
        <class-b>java.util.ArrayList</class-b>
        <field map-id="ab">
            <a>this</a>
            <b>this</b>
            <a-hint>com.example.beandozerspringbootdemo.entity.DeepSrcEntity</a-hint>
            <b-hint>com.example.beandozerspringbootdemo.entity.DeepTarEntity</b-hint>
            <a-deep-index-hint></a-deep-index-hint>
        </field>
    </mapping>

    <mapping map-id="ab" wildcard="false" map-null="false">
        <class-a>com.example.beandozerspringbootdemo.entity.DeepSrcEntity</class-a>
        <class-b>com.example.beandozerspringbootdemo.entity.DeepTarEntity</class-b>
        <field>
            <a>srcUuid</a>
            <b>tarUuid</b>
        </field>
        <field>
            <a>srcUser</a>
            <b>tarUser</b>
        </field>
    </mapping>

    <mapping map-id="bv">
        <class-a>com.example.beandozerspringbootdemo.entity.DeepSrcEntity</class-a>
        <class-b>com.example.beandozerspringbootdemo.entity.DeepTarEntity</class-b>
        <field>
            <a>srcUuid</a>
            <b>tarUser</b>

        </field>
        <field>
            <a>srcUser</a>
            <b >tarUuid</b>
        </field>
    </mapping>


</mappings>